.datepicker__date-input-container,
.datepicker__time-input-container {
  position: relative;
  display: inline-block;

  &>input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.0;
  }
}
