<?xml version="1.0"?>
<config>
    <modules>
        <WP_SmartCatalog>
            <version>3.4.3</version>
        </WP_SmartCatalog>
    </modules>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <smartcatalog>
                        <type>singleton</type>
                        <model>smartcatalog/observer</model>
                        <method>observeLayoutHandleInitialization</method>
                    </smartcatalog>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <smartcatalog>
                    <file>webandpeople/smartcatalog.xml</file>
                </smartcatalog>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <smart_catalog translate="title" module="smartcatalog">
                                            <title><![CDATA[Web & People: Smart Catalog Lite]]></title>
                                            <sort_order>2000</sort_order>
                                        </smart_catalog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <smartcatalog>
                <class>WP_SmartCatalog_Model</class>
            </smartcatalog>
        </models>
        <blocks>
            <smartcatalog>
                <class>WP_SmartCatalog_Block</class>
            </smartcatalog>
        </blocks>
        <helpers>
            <smartcatalog>
                <class>WP_SmartCatalog_Helper</class>
            </smartcatalog>
        </helpers>
    </global>
    <default>
        <smart_catalog>
            <general>
                <enabled>1</enabled>
                <image_width>135</image_width>
                <image_height>135</image_height>
                <column_width>150</column_width>
                <display_short_desc>1</display_short_desc>
                <version>3.4.3</version>
            </general>
            <include_jquery_files>
                <include_jquery>1</include_jquery>
                <include_debouncedresize>1</include_debouncedresize>
            </include_jquery_files>
        </smart_catalog>
    </default>
</config>
