html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#root .rootPage {
  background-color: rgba(0, 0, 0, 0.02);
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  #root .rootPage {
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.toolBar {
  width: 100%;
  margin: 0 auto;
}
.paper {
  margin: 0 auto;
}

form {
  padding: 25px;
}
.AppBar-appBar-116 {
  width: calc(100% - 240px);
}
.formButtons {
  margin-top: 15px;
  text-align: center;
}
.formButtons > button {
  margin-left: 15px;
}
.formButtons > button:first-child {
  margin-left: 0px;
}

.fabContainer {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.fabContainer .fab {
  margin-left: 5px;
}
.colunaBotoes {
  width: 96px;
}
.displayNone {
  display: none;
}
