header.cf-appbar{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 15;

    display: flex;

    height: 64px;


    background: #009688;
    color: #fff;
    h2{
        color: inherit;
        font-weight: 500;
        font-size: 20px;
        white-space: nowrap;
        line-height: 28px;
        letter-spacing: .5px;
        margin: 0;
        transition-duration: 0.15s;
        transition-property: transform;
        @media screen and (min-width: 320px) {
            line-height: 56px;
            margin-left: 20px;
        }
        @media screen and (min-width: 768px) {
            line-height: 64px;
            margin-left: 20px;
        }
    }
}