.cashFlowItem {
  >.text{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &>.descriptions {
      display: block;
      flex: 1;
      padding: 15px 0;

      &>.description {
        display: block;
        color: #000000;
        font-size: 15px;
        font-weight: bold;
      }

      &>.account {
        display: block;
        color: #999999;
        font-size: 12px;
      }
    }

    &>.valueType {
      display: block;
      padding: 15px 10px 15px 0;

      &>.value {
        display: block;
        color: #bb0000;
        text-align: right;
        font-size: 15px;
        font-weight: bold;

        &.received {
          color: #00bb00;
        }
      }

      &>.type {
        display: block;
        text-align: right;
        color: #999999;
        font-size: 12px;
      }
    }
  }
}