.bubble{
  position: relative;
  width:300px;
  margin: 0 auto;
  height:300px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:#FEE150;
  font-size: 4.8em;
  font-weight: bold;
  overflow: hidden;
}
.bubble > .__text {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  transition: transform 1s;
}
.bubble > .__text.__mouse-over {
  top: -20%;
}

.bubble:hover > .__text.__default {
  transform: translateX(-210px);
}

.bubble:hover > .__text.__mouse-over {
  transform: translateY(180px);
}
