body {
  background: black;
  margin: 2.4em 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.root {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.app{
  width: 500px;
  color: white;
}

.app > h1{
  font-size: 5.5em;
  font-weight: bold;
  text-align: center;
  margin:0.8em 0;
}
.app > p {
  font-size: 3.0em;
  text-align: center;
  margin:0.8em 0;
}
.app > .social-icons {
  display: flex;
  justify-content: center;
}

.app > .social-icons > a > img {
  width: 50px;
  margin: 0 5px;
}
